/****************************************************************
1. Base styles
****************************************************************/
html {
	font-family: $font-primary;
	font-size: 62.5%;
	color: $red;
}